body {
    background: linear-gradient(to right, #781919, #ff4d4d); 
    font-size: 20px;
    font-family: 'Consolas', sans-serif;
    color: #f7f7f7; 
    min-height: 100vh; 
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    position: relative;
    overflow: auto;  /*lai var scrolot */
}

h2 {
    color: #fff;
    font-family: 'Georgia', serif;
    font-size: 2rem; 
    text-shadow: 2px 2px 5px #000000; 
    text-align: center; 
    margin-top: 50px; 
    z-index: 10; 
}

h4{
    color:black;
}
ul {
    list-style-type: circle;
    padding-left: 20px;
    color: white; 
    margin: 20px 0;
    padding-bottom: 30px; 
}

ul li {
    margin-bottom: 12px; 
    font-size: 1.1rem; 
}

.snowflake {
    position: absolute;
    color: #ffffff;
    font-size: 24px;
    animation: fall linear infinite;
    opacity: 0.8; /*Mazliet caurspīdīgs */
    z-index: 1; /* Zem virsraksta */
}

/* sniegpārslas kritīs no augšas kad nokritīs zemē */
@keyframes fall {
    0% {
        transform: translateY(-150px); /* Sāk virs ekrana */
        opacity: 1;
    }
    100% {
        transform: translateY(100vh); /* nokrīt līdz ekrāna apakšai */
        opacity: 0;
    }
}
/* Bernu kartinas */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 30px;
    width: 80%;
    max-width: 1200px;
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ff4d4d;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    position: relative;
    z-index: 10;
}

.card h3 {
    color: #781919;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #000000;
}

.card p {
    color: #333;
    font-size: 1.2rem;
}

.card:hover {
    transform: scale(1.05);
}

.card:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 5px;
    background: #ff4d4d;
    border-radius: 5px;
}
.letter-card {
    background-color: #f5cfcf;
    border: 1px sloid rgb(243, 216, 216);
    padding: 5px;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 1rem;
    white-space: pre-wrap; 
}